@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Condensed&display=swap');

body { 
  background: url("../bg-pic/benz2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: ease-in 0.5s;
}

/*----------------------- Navbar ----------------*/

.navbar-brand {
    color: #fafafa!important;
    font-family: "Noto Serif", sans-serif;
    background-color: #4682B4;
    margin-top: 5px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #c0c0c0;
    
}

.form-inline {
    font-size: 30px;  
}

.fa-search {
    color: #c0c0c0!important;
    background-color: #0000!important;
    border-color:  #0000!important;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0)!important;
}

.nav-link {
    margin-right: 30px;
    color: #c0c0c0!important;
}

.navbar-toggler {
    color: #C0C0C0!important;
    background-color: rgba(192, 192, 192, 0.5)!important;
}

button:focus {
    outline: 1px dotted;
    outline: 0px auto ;
}

.form-control {
    background-color: rgba(0, 0, 0, 0)!important;
    color: #C0C0C0!important;
}

.navbar-nav {
    margin: auto auto;
    justify-content: center;
}
/*----------------SCSS---------------*/

@mixin bg-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      background-color: darken($color, 10%) !important;
    }
  }
  @include deprecate("The `bg-variant` mixin", "v4.4.0", "v5", $ignore-warning);
}

@mixin bg-gradient-variant($parent, $color) {
  #{$parent} {
    background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x !important;
  }
}


/*----------------------- images and logos ----------------*/

.media {
    padding-right: 40px;
    display: inline-block;
}

.logo-container {
    text-align: center;
    display: inline-block flexbox;
    zoom: 1;
    width: 100%;
    margin-top: 15px;
}

@media only screen and (max-width: 780px) {
  .logo-container {
    display: none;
  }
}

.mr-2, .mx-2 {
    margin-right: 4rem!important;
}


/*----------------------- Jumbotron ----------------*/

.jumbotron {
    font-family: "Noto Serif", sans-serif;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 20px;
    color: #C0C0C0;
    
}


.history-header {
    font-family: "Roboto Condenced", sans-serif;
    color: #C0C0C0;
}

.btn-info {
    background-color: #4682B4;
    margin-top: 5px;
    justify-content: center;
    border-radius: 50%;
}

.btn-info:hover {
   background-color: #4682B4;
}


.btn-global {
    color: #fff;
}

.btn-global:hover {
   text-decoration: none;
   color: #fff;
}

.callout {
    padding-top: 1rem;
}



