@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Condensed&display=swap');

body { 
  background: url("../logos/benz2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*----------------------- Navbar ----------------*/

.navbar-brand {
    color: #c0c0c0;
    font-family: "Noto Serif", sans-serif;
}

.bg-light {
    background-color: rgba(0, 0, 0, 0);
}

/*----------------------- images and logos ----------------*/

.media {
    padding-right: 40px;
    display: inline-block;
}

.logo-container {
    text-align: center;
    display: inline-block flexbox;
    zoom: 1;
    width: 100%;
    margin-top: 15px;
}

@media only screen and (max-width: 780px) {
  .logo-container {
    display: none;
  }
}

.mr-2, .mx-2 {
    margin-right: 4rem!important;
}


/*----------------------- Jumbotron ----------------*/

.jumbotron {
    font-family: "Noto Serif", sans-serif;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 20px;
    color: #C0C0C0;
    
}


.history-header {
    font-family: "Roboto Condenced", sans-serif;
    color: #C0C0C0;
}

.btn-info {
    background-color: #4682B4;
    margin-top: 5px;
    justify-content: center;
    border-radius: 50%;
}

.btn-info:hover {
   background-color: #4682B4;
}


.btn-global {
    color: #fff;
}

.btn-global:hover {
   text-decoration: none;
   color: #fff;
}

.callout {
    padding-top: 1rem;
}



